$textColor: #131313ee;
$buttonColor: #1e1e1e;
$backgroundColor: #f1f1f1;
$white: #fff;
$yellow: #e4ff63;

.toolbar {
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  max-width: 330px;
}

.arrowContainer {
  padding: 0px !important;
  :hover {
    background-color: $backgroundColor;
  }
}

.backIcon {
  color: $textColor;
  margin-top: 15px;
  margin-bottom: 15px;
}

.registerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $backgroundColor;

  .personalInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: auto;
    max-width: 330px;
    width: 100%;

    .headingSmall {
      font-size: 17px;
      align-self: flex-start;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .headingSmall:nth-child(even) {
      font-size: 17px;
      align-self: flex-start;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .headingBig {
      font-size: 25px;
      align-self: flex-start;
      font-weight: bold;
    }

    .headingBig:nth-child(odd) {
      font-size: 25px;
      align-self: flex-start;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .inputLabel {
      align-self: flex-start;
      font-size: 12px;
      font-weight: 400;
      color: $textColor;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .inputLabel2 {
      padding: 0;
    }

    .personalInfoInput {
      width: 100%;
      max-width: 400px;
      background-color: transparent;
    }

    .personalInfoInput:nth-child(odd) {
      margin-bottom: 40px;
      width: 100%;
      max-width: 400px;
      background-color: transparent;
    }

    .personalInfoInput2 {
      border-radius: 8px;
      padding: 8px 20px;
      background-color: $white;
      color: $textColor;
      margin: 0px -10px;
    }

    .helperText {
      background-color: transparent;
    }
  }

  .phoneNumberSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: auto;
    max-width: 330px;
    width: 100%;

    .headingBig {
      font-size: 25px;
      align-self: flex-start;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .headingSmall {
      font-size: 17px;
      align-self: flex-start;
      font-weight: 400;
      margin-bottom: 10vh;
    }

    .inputLabel {
      align-self: flex-start;
      font-size: 12px;
      font-weight: 400;
      color: $textColor;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
    }

    .inputContainer2 {
      display: flex;
    }

    .inputLabel2 {
      padding: 0;
    }

    .phoneInput {
      width: 100%;
      max-width: 400px;
      background-color: $buttonColor;
      border-radius: 16px;
      padding-top: 1px;
    }
    .phoneInput2 {
      border-radius: 16px;
      padding: 8px 20px;
      background-color: $buttonColor;
      color: $white;
    }

    .phoneNumberSelect {
      background-color: $buttonColor;
      max-width: 90px;
      width: 100%;
      height: 42px;
      border-radius: 16px;
      margin-right: 7px;
      padding-left: 10px;
      color: $white;
    }

    .otpInput {
      width: 100%;
      max-width: 400px;
      background-color: $white;
    }

    .otpInput2 {
      border-radius: 8px;
      padding: 8px 20px;
      background-color: $white;
      color: $textColor;
      margin: 0px -10px;
    }
  }

  .buttonContainer {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 330px;

    .nextButton {
      padding: 10px;
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.158);
      color: $textColor;
      background-color: $yellow;
      text-transform: none;
    }

    .buttonContainer2 {
      width: 100%;
    }

    .verifyButton {
      padding: 10px;
      margin: 2vh 0;
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.158);
      color: $white;
      background-color: $textColor;
      text-transform: none;
    }
  }
}
