.userTypeContainer {
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .fee {
    color: #0070f3;
  }
  
  .date {
    font-weight: bold;
  }