$yellow: #E4FF63;
$black: #131313;

.button {
  max-width: 330px;
  height: 47px;
  border-radius: 16px !important;
  background-color: $yellow !important;
  color: $black !important;
  margin: 10px !important;
}