.profile {
  display: flex;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-grow: 1;
  margin-left: 5px;
  width: 100%; 
}

.profilePicture {
  flex-shrink: 0; 
}


.profileName {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.profileEmail {
  color: #ffffff;

}

.profilePhone {
  display: flex;
  margin-top: 8px; 
  color: #f0eeee;
}

.editButton { 
  color: #f0eeee; 
  margin-top: 6px; 
  }