.profile {
  display: flex;
  align-items: center;
  margin: 0px auto 16px;
  max-width: 330px;
}

.profileInfo {
  display: flex;
  flex-grow: 1;
  margin-left: 5px;
  width: 100%; 
}

.profilePicture {
  flex-shrink: 0; 
}

.profileIconPhone {
  margin-top: 7px;
}

.profileName {
  color: #ffffff;
  display: flex;
  align-items: center;
}

/* Menghapus margin-top pada .profilePhone dan .profileEmail */
.profilePhone 
.profileEmail {
  color: #ffffff;
}

/* Memberikan margin-top pada .profilePhone dan .profileEmail */
.profilePhone {
  display: flex;
  color: #f0eeee;
  margin-top: 16px; /* Tambahkan margin atas di sini */
}

.profileEmail {
  color: #ffffff;
  /* margin-top: 16px; */ /* Hapus baris ini */
}

.editButton { 
  color: #f0eeee; 
  margin-top: 6px; 
}
