// body {
//   background-color: #131313;
//   color: #fff;
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.photoCameraInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Mengatur tinggi untuk memposisikan input di tengah
}
