// @import '../../assets//images/background/background.scss';
$backgroundColor : #131313ee;
$buttonColor : #1E1E1E;
$textColor : #DADADA;

.loginMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../../assets/images/app-background.webp);
  background-size: cover;
  background-position: center;

  .logo {
    max-width: 252px;
    width: 100%;
    height: auto;
  }

  .phoneNumberSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
    max-width: 330px;
    width: 100%;

    .phoneNumberSelect {
      background-color: $buttonColor;
      max-width: 90px;
      width: 100%;
      height: 42px;
      border-radius: 16px;
      margin-right: 7px;
      padding-left: 4px;
      color: $textColor;
    }

    .phoneNumberInput {
      border-radius: 16px;
      width: 100%;
      max-width: 230px;
      height: 42px;
      background-color: $buttonColor;
      padding-left: 20px;
      color: $textColor;
    }

    .loginButton {
      margin-top: 15px;
    }
  }

  .divider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 320px;
    margin: 15px;
  }

  .divider::before,
  .divider::after {
    content: "";
    height: 1px;
    width: 100vw;
    max-width: 135px;
    background-color: $textColor;
    display: block;
  }

  .socialLoginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;

    .socialLoginButton {
      display: flex;
      align-items: center;
      background-color: $buttonColor;
      height: 45px;
      width: 100%;
      border-radius: 16px;
      margin-top: 10px;
      color: $textColor;
      text-transform: none;
      font-size: 12px;

      .icon {
        width: 20px; // Adjust based on your design
        height: auto;
        margin-right: 10px;
      }
    }
  }

  .text {
    margin-top: 50px;
    color: $textColor;
    font-size: 12px;

    .signInLink {
      margin-top: 20px;
      text-decoration: none;
      color: $textColor;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width:374px) {
  .loginMenu {
    padding: 0px 20px;

    .divider::before,
    .divider::after {
      width: 100vw;
      max-width: 100px;
    }
  }
}