$color1: #FFFFFF;
$color2: #131313;
$color3: #FF1C60;
$color4: #a40f3c;
$color5: #E4FF63;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color3;
  color: $color1;
  border-radius: 12px;
  max-width: 330px;
  width: 100%;
  height: 45px;
  margin: 0px auto 16px;
  text-decoration: none;

  .title {
    color: $color1;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
  }

  &:hover {
    background-color: $color4;
  }
}