:root { --background-color: #1E1E1E; 
  --black: #131313; 
  --white: #DADADA; 
  --yellow: #E4FF63; 
}

.root { 
  background-color: var(--background-color); 
  border-radius: 16px !important; 
  padding: 8px;
  height: 50px;
  max-width: 330px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title { 
  flex-grow: 1; 
  color: #fff;  
}

.backbutton { 
color: #fff; 
margin-top: 6px; 
}

.toolbar { 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  }

