$backgroundColor : #1E1E1E;

.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $backgroundColor;
}


  .header{
    
  }

  .profile {
    margin-top: 5px;
  }
