.myAccountMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .myAccountMenu__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .myAccountMenu__menuItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
  .myAccountMenu__menuItem:hover {
    text-decoration: underline;
  }
  
  .myAccountMenu__menuItemIcon {
    margin-right: 0.5rem;
  }